body {
	/* Typography */
	font-size: 18px;
	line-height: 27px;
  
	/* Visual */
	/* background-color: #ccc; */
  }

.row {
	margin-left: 0 px;
	margin-right: 0 px;
}


.jumbotron {
	padding: 30px;
	border:2px solid #003366;
	width: 400px;
	/* margin: 0 auto */
}

.btn {
	margin-left: 10px;
	margin-right: 10px;
}